# dependencies
node_modules/

# production build
frontend/build/

# env files
backend/.env
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
